<div class="container">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3">
            <h1>Burgers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <input type="text" class="form-control" id="name">
            <button class="btn-success" id="create">Create Burger</button>
        </div>
        <div class="col-5 text-center" id="uneaten">
            <h4>Burgers you can eat:</h4>
            <ul>
                {{#each uneaten}}
                <li>{{this.name}} <button class="btn-primary" id="{{this.id}}" }>Devour</button></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-5 text-center" id="eaten">
            <h4>Burgers eaten:</h4>
            <ul>
                {{#each eaten}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/app.js" type="text/javascript"></script>